{{/* create some booleans */}}
{{- $personal := false -}}{{/* consider this machine used for personal use */}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* macOS hostname can be unreliable, this makes it more consistent */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Nick’s MacBook Pro" -}}
{{-     $hostname = "Nicks-MBP" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

{{- if eq $hostname "Nicks-MBP" "Nicks-PC" -}}
{{-   $personal = true -}}
{{- end -}}

sourceDir = "{{ .chezmoi.homeDir }}/Projects/rkage/dotfiles"

[data]
  hostname = {{ $hostname | quote }}
  personal = {{ $personal }}
  osid = {{ $osid | quote }}
{{- if $personal }}
  vault = "r4rtmrkd5kjrwytac2g2ji442a"
{{- end }}

[diff]
  exclude = ["externals"]
