#!{{ .bash }}

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "dty1er/tap"
tap "fluxcd/tap"
tap "go-task/tap"
brew "ansible"
brew "bat"
brew "direnv"
brew "dty1er/tap/kubecolor"
brew "exa"
brew "fish"
brew "fluxcd/tap/flux"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "go-task/tap/go-task"
brew "helm"
brew "jq"
brew "kubernetes-cli"
brew "krew"
brew "kubie"
brew "kustomize"
brew "lsd"
brew "pre-commit"
brew "starship"
brew "stern"
brew "terraform"
brew "tmux"
{{ if eq .chezmoi.os "darwin" -}}
brew "mas"
brew "gnupg@2.2"
brew "pinentry-mac"
brew "vim"
{{ end -}}
EOF
