{{ if eq .chezmoi.os "darwin" "linux" -}}
#!/usr/bin/env bash

set -eufo pipefail

# reqest and store the sudo credentials for 5 minutes
sudo -v

{{ $brewBinDir := "/usr/local/bin" -}}
{{- if eq .chezmoi.os "linux" -}}
{{- $brewBinDir = "/home/linuxbrew/.linuxbrew/bin" -}}
{{- end -}}

echo {{ $brewBinDir }}/fish | sudo tee -a /etc/shells
sudo chsh -s {{ $brewBinDir }}/fish $(whoami)
{{ end -}}
