#!/usr/bin/env bash

set -eufo pipefail

{{ $taps := list
      "dty1er/tap"
      "fluxcd/tap"
      "go-task/tap"
-}}

{{- $bundle := list
      "ansible"
      "bat"
      "clusterctl"
      "direnv"
      "dog"
      "dty1er/tap/kubecolor"
      "exa"
      "fish"
      "fluxcd/tap/flux"
      "fzf"
      "gh"
      "git"
      "git-delta"
      "go-task/tap/go-task"
      "helm"
      "jq"
      "kubernetes-cli"
      "krew"
      "kubie"
      "kustomize"
      "lsd"
      "pre-commit"
      "starship"
      "stern"
      "terraform"
      "tmux"
      "viddy"
      "yq"
-}}

{{- $casks := list -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $casks = concat $casks (list
        "iterm2"
        "visual-studio-code"
        "1password-cli"
        "balenaetcher"
        "google-cloud-sdk"
) -}}
{{-   $bundle = concat $bundle (list
        "mas"
        "gnupg"
        "gnupg@2.2"
        "pinentry-mac"
        "vim"
) -}}
{{- end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq ) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($bundle | sortAlpha | uniq ) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
