#!{{ .fish }}

type fisher &>/dev/null || curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher

fisher install 2m/fish-history-merge
fisher install jorgebucaran/spark.fish
fisher install danhper/fish-ssh-agent
fisher install jethrokuan/z
fisher install wfxr/forgit
fisher install franciscolourenco/done
fisher install decors/fish-colored-man

