{{ if eq .chezmoi.os "linux" -}}
{{   if .chezmoi.kernel.osrelease | lower | contains "microsoft" -}}
set -x GPG_AGENT_SOCK "$HOME/.gnupg/S.gpg-agent"
if not ss -a | grep -q "$GPG_AGENT_SOCK"
    rm -rf "$GPG_AGENT_SOCK"
    set WSL2_SSH_PAGENT_BIN "$HOME/winhome/.wsl/wsl2-ssh-pageant.exe"
    set GPG_CONFIG_BASEPATH "C\:/Users/NickMcFaul/AppData/Local/gnupg"
    if test -x "$WSL2_SSH_PAGENT_BIN"
        setsid nohup socat UNIX-LISTEN:"$GPG_AGENT_SOCK",fork EXEC:"$WSL2_SSH_PAGENT_BIN -gpgConfigBasepath $GPG_CONFIG_BASEPATH -gpg S.gpg-agent",nofork >/dev/null 2>&1 &
        disown
    else
        echo >&2 "WARNING: $WSL2_SSH_PAGENT_BIN is not executable."
    end
    set --erase WSL2_SSH_PAGENT_BIN
end
{{   end -}}
{{ end -}}
