{{ if eq .chezmoi.os "linux" -}}
{{   if .chezmoi.kernel.osrelease | lower | contains "microsoft" -}}
set -x SSH_AUTH_SOCK "$HOME/.gnupg/S.gpg-agent.ssh"
if not ss -a | grep -q "$SSH_AUTH_SOCK"
    rm -f "$SSH_AUTH_SOCK"
    set SORELAY_BIN "$HOME/winhome/.wsl/sorelay.exe"
    set GPG_AGENT_SSH_SOCK "$WIN_AGENT_HOME/S.gpg-agent.ssh"
    if test -x "$SORELAY_BIN"
        setsid nohup socat UNIX-LISTEN:"$SSH_AUTH_SOCK",fork EXEC:"$SORELAY_BIN '$GPG_AGENT_SSH_SOCK'",nofork >/dev/null 2>&1 &
    else
        echo >&2 "WARNING: $SORELAY_BIN is not executable."
    end
    set --erase SORELAY_BIN
end

set -x GPG_AGENT_SOCK "$HOME/.gnupg/S.gpg-agent"
if not ss -a | grep -q "$GPG_AGENT_SOCK"
    rm -rf "$GPG_AGENT_SOCK"
    set SORELAY_BIN "$HOME/winhome/.wsl/sorelay.exe"
    set GPG_AGENT_SOCKETS "$WIN_GNUPG_SOCKETS/S.gpg-agent"
    if test -x "$SORELAY_BIN"
        setsid nohup socat UNIX-LISTEN:"$GPG_AGENT_SOCK",fork EXEC:"$SORELAY_BIN -a '$GPG_AGENT_SOCKETS'",nofork >/dev/null 2>&1 &
    else
        echo >&2 "WARNING: $SORELAY_BIN is not executable."
    end
    set --erase SORELAY_BIN
end
{{   end -}}
{{ end -}}

