{{- if .personal -}}
# git configuration
# vim:filetype=gitattributes:shiftwidth=4

[user]
    name = {{ (index (onepasswordItemFields "GitHub" .vault) "name").value }}
    email = {{ (index (onepasswordItemFields "GitHub" .vault) "email").value }}
    signingkey = {{ (index (onepasswordDetailsFields "nick@mcf.io SSH Key" .vault) "public_key").value }}

[alias]
    co = checkout
    g = grep --break --heading --line-number
    gi = grep --break --heading --line-number -i

[core]
    pager = delta

[commit]
    gpgsign = true

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[add.interactive]
    useBuiltin = false

[pager]
    branch = false

[pull]
    ff = only

[url "git@github.com:"]
    pushInsteadOf = http://github.com
    pushInsteadOf = https://github.com
{{- end }}
