# git configuration
# vim:filetype=gitattributes:shiftwidth=4

{{ if .personal -}}
[user]
    name = {{ onepasswordRead "op://Personal/GitHub/name" .onepasswordAccount }}
    email = {{ onepasswordRead "op://Personal/GitHub/email" .onepasswordAccount }}
    signingkey = {{ onepasswordRead "op://Personal/GitHub SSH Key/public key" .onepasswordAccount }}
{{- end }}

[alias]
    co = checkout
    g = grep --break --heading --line-number
    gi = grep --break --heading --line-number -i

[core]
    pager = delta

[commit]
    gpgsign = true

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers
    {{- if eq .chezmoi.os "darwin" }}
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
    {{- end }}

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[add.interactive]
    useBuiltin = false

[pager]
    branch = false

[pull]
    ff = only

{{ if .personal -}}
[url "git@github.com:mcfio/"]
    insteadOf = https://github.com/mcfio/
[url "git@github.com:rkage/"]
    insteadOf = https://github.com/rkage/
{{ end -}}

{{ $ghPath := lookPath "gh" -}}
{{ if $ghPath }}
[credential "https://github.com"]
    helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
    helper = !{{ $ghPath }} auth git-credential
{{ end -}}
