# git configuration
# vim:filetype=gitattributes:shiftwidth=4

{{ if .personal -}}
[user]
    name = {{ onepasswordRead "op://Personal/GitHub/name" .onepasswordAccount }}
    email = {{ onepasswordRead "op://Personal/GitHub/email" .onepasswordAccount }}
    signingkey = {{ onepasswordRead "op://Personal/GitHub SSH Key/public key" .onepasswordAccount }}
{{- end }}

[alias]
    co = checkout
    g = grep --break --heading --line-number
    gi = grep --break --heading --line-number -i

[core]
    pager = delta

[commit]
    gpgsign = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[delta]
    features = decorations
    syntax-theme = Nord
    plus-style = bold "#002800" "#809575"
    minus-style = bold "#3f0001" "#94545d"

[delta "decorations"]
    hunk-header-style = file line-number syntax
    file-style = omit
    hunk-header-file-style = blue
    hunk-header-line-number-style = bold black
    hunk-header-decoration-style = omit

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers
    {{- if eq .chezmoi.os "darwin" }}
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
    {{- end }}

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[add.interactive]
    useBuiltin = false

[pager]
    branch = false

[pull]
    ff = only

{{ if .personal -}}
[url "git@github.com:mcfio/"]
    insteadOf = https://github.com/mcfio/
[url "git@github.com:rkage/"]
    insteadOf = https://github.com/rkage/
{{ end -}}

{{ $ghPath := lookPath "gh" -}}
{{ if $ghPath }}
[credential "https://github.com"]
    helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
    helper = !{{ $ghPath }} auth git-credential
{{ end -}}
