#!{{ lookPath "bash" }}
# vim:filetype=bash:shiftwidth=2

set -eufo pipefail

{{ $brews := list
  "age"
  "bat"
  "curl"
  "eza"
  "dog"
  "fzf"
  "fish"
  "age"
  "gh"
  "git"
  "git-lfs"
  "git-delta"
  "gnupg"
  "grc"
  "jq"
  "ripgrep"
  "sops"
  "starship"
  "neovim"
  "zoxide"
  "viddy"
-}}

{{ $casks := list
  "1password-cli"
  "wezterm"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha| uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha| uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
