{{- if eq .osid "darwin" -}}
# presume homebrew is installed and will be initialized
# vim:filetype=fish:shiftwidth=4
{{- $brewPath := "/usr/local" -}}

eval ({{ $brewPath }}/bin/brew shellenv)

set HOMEBREW_PREFIX (brew --prefix)
set -gx HOMEBREW_NO_ANALYTICS 1

if test -d "$HOMEBREW_PREFIX/share/fish/completions"
    set -gx fish_complete_path $fish_complete_path "$HOMEBREW_PREFIX/share/fish/completions"
end

if test -d "$HOMEBREW_PREFIX/share/fish/vendor_completions.d"
    set -gx fish_complete_path $fish_complete_path "$HOMEBREW_PREFIX/share/fish/vendor_completions.d"
end

{{- end -}}
