# if 1password is installed, and it should, configure SSH_AUTH_SOCK
# vim:filetype=fish:shiftwidth=4

{{ if eq .osid "darwin" -}}
set -gx SSH_AUTH_SOCK {{ .chezmoi.homeDir }}/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{ else if eq .osid "linux-arch" -}}
if command -sq 1password
    set -gx SSH_AUTH_SOCK {{ .chezmoi.homeDir }}/.1password/agent.sock
end
{{ end -}}
