set -gx KUBE_EDITOR vim
set -gx EDITOR vim
set -gx VISUAL $EDITOR
set -gx PROJECTS {{ .chezmoi.homeDir }}/Projects
set -x GPG_TTY (tty)
set -x SSH_AUTH_SOCK (gpgconf --list-dirs agent-ssh-socket)
gpgconf --launch gpg-agent

set -g fish_key_bindings fish_vi_key_bindings
set -g fish_bind_mode insert

bind -M insert \cg forget

fish_add_path -aP {{ .chezmoi.homeDir }}/.krew/bin

starship init fish | source

{{ if eq .chezmoi.os "linux" -}}
eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{ else if eq .chezmoi.os "darwin" }}
set -gx HOMEBREW_NO_ANALYTICS 1

fish_add_path /usr/local/sbin
fish_add_path {{ .chezmoi.homeDir }}/Library/Python/3.9/bin

alias config="git --git-dir=$HOME/.cfg/ --work-tree=$HOME"

abbr -a kx kubectx
abbr -a kn kubens
{{ end -}}

if status is-interactive
and not set -q TMUX
    exec tmux new-session -A -s main
end
