set -gx KUBE_EDITOR vim
set -gx EDITOR vim
set -gx VISUAL $EDITOR

set -gx PROJECTS {{ .chezmoi.homeDir }}/Projects

fish_add_path {{ .chezmoi.homeDir }}/.krew/bin

{{ if eq .chezmoi.os "linux" -}}
eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)

starship init fish | source
{{ end -}}

{{ if (eq .chezmoi.os "darwin") -}}
set -gx HOMEBREW_NO_ANALYTICS 1

fish_add_path /usr/local/sbin
fish_add_path {{ .chezmoi.homeDir }}/Library/Python/3.9/bin

test -r "$HOME/.dir_colors" && eval (gdircolors -c $HOME/.dir_colors)

alias config="git --git-dir=$HOME/.cfg/ --work-tree=$HOME"

abbr -a kx kubectx
abbr -a kn kubens

test -e {$HOME}/.iterm2_shell_integration.fish ; and source {$HOME}/.iterm2_shell_integration.fish ; or true

{{ end -}}

if status is-interactive
    and not set -q TMUX
    tmux new-session -A -s main
end
