[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
  idlehint 30 \
  timeout 600 '{{ .chezmoi.homeDir }}/.config/sway/scripts/lockscreen' \
  timeout 1500 'swaymsg "output * dpms off"' \
  resume 'swaymsg "output * dpms on"' \
  before-sleep '{{ .chezmoi.homeDir }}/.config/sway/scripts/lockscreen' 
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=sway-session.target
